<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Tidjelabine/

    # Rediriger vers index.php si le fichier ou le répertoire n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
