 /* Style for the h1 element */
.vehicule-details h1 {
    color: #cf0015; /* Red color for the h1 text */
    text-align: center; /* Center-align the text */
    margin-bottom: 10px; /* Add some space below the h1 */
    margin-top: 10px;
  }
  .vehicule-details {
    border: 1px solid #efddc9;
    background-color: #edeae6;
    
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
}
.show-Avis-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #181c16;
    border-radius: 8px;
    background-color: #edeae6;
}

.show-Donner-container {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 2px solid #ddd;
    height: 70px;
}

th {
    background-color: #f2f2f2;
}

/* Alternating row colors */
tr:nth-child(odd) {
    background-color: #edeae6;
}

tr:nth-child(even) {
    background-color: #fff; /* white */
}


/* Style pour le formulaire d'envoi de note */
#donnerNote {
    text-align: center;
}

#donnerNote select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #181c16;
    border-radius: 4px;
    width: 30%;
    box-sizing: border-box;
    background-color: #edeae6;
    color: #181c16;
    cursor: pointer;
    display: block; /* Affiche le select en tant que bloc */
    
    margin: 0 auto;
}

#donnerNote button {
    padding: 10px;
    background-color: #cf0015;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Affiche le bouton en tant que bloc */
    margin: 10px auto 0;
}

/* Style pour le formulaire d'envoi d'avis */
#donnerAvis {
    text-align: center;
}

#donnerAvis textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #181c16;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

#donnerAvis button {
    padding: 10px;
    background-color: #cf0015;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
}

/* Style pour la liste des avis */
#tousAvis ul {
    list-style-type: none;
    padding: 0;
}

#tousAvis li {
    border-bottom: 1px solid #181c16;
    padding: 10px;
    margin: 10px 0;
    background-color: #edeae6;
}
#afficherAvis {
    color: #cf0015;
    text-decoration: underline; 
    font-size: 20px; /* Taille de la police */
        font-family: 'Arial', sans-serif; /* Police de caractères */
        font-weight: bold; /* Gras */
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
#aff-container{
    display: block;
    margin-left: 650px;
}


/*#vehicule-image{
    max-width: 100%; 
    margin-left: 300px; 
    width: 800px;
    height:350px ;
    
    }
*/
    